<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <h2 align='center'> Timetabler </h2>
  <div id="courses">
    <h1 id="announcement"></h1>
  </div>
  <br><br>
  <div class='masterDiv'>
    <div class='leftDiv' style='width:30%; float: left'>
      View a courses timetable <br>
      <input type='textarea' id='course' size='80' value="">
      <br>
      <button id='send'>View </button>
    <button id='clear'>Clear All </button>
    <select id='allSubjects'>
      <% for (i in allSubjects) {
        %> <option value="<%=allSubjects[i]%>"> <%=allSubjects[i]%> </option><%
      }%>
    </select>
    <select id='allCourses'>
      <% for (i in allCourses) {
        %> <option value="<%=allCourses[i]%>"> <%=allCourses[i]%> </option><%
      }%>
    </select>
    <div class ='loading'>
    </div>
    <h3> Total Credits Taken </h3>
    <h4 id="credits"></h4>
    <div class= 'availableCourses' style='float:left'>
      <p> Find Available Courses given your current schedule : </p>
      <select id='availableSubjects'>
        <% for (i in allSubjects) {
          %> <option value="<%=allSubjects[i]%>"> <%=allSubjects[i]%> </option><%
        } %>
      </select>
      <input type='number' id='lowerBound' value=4></input> -
      <input type='number' id='upperBound' value=5></input>
      <button id="available">Click to see available </button>
      <div id= 'courseDisplay'>
      </div>
    </div>
  </div>
    <div class='rightDiv' style='width: 70%; float: left'>
      <table class='timetable' style='height:100%;width:80%;border:1px;margin-right:50px' align='right'>
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
      </table>
    </div>
  </div>
<p style="margin-top:550px" align='center'> &copy Abishek Puri and Hauton Tsang 2016 </p>
</body>
<script>
  var days = ['Mo ','Tu ','We ','Th ','Fr ','Sa'];
  var times = ['09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30','18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30','22:00'];
  //initiliaze the timetable
  for(var i = 1;i < times.length;++i) {
    $('.timetable tr:last').after('<tr><td class=times>'+times[i-1]+'-'+times[i]+'</td>');
    for(var j = 0;j < days.length;++j) {
      var className = JSON.stringify(days[j]+times[i-1]);
      $('td:last').after('<td id='+className+'></td>');
    }
    $('td:last').after('</tr>');
  }
    $('#clear').on('click',function(event) {
      $('#courses').html('<div><h1 id="announcement"></h1></div>');
      $('#course').val('');
    });
    $('#allSubjects').on('change',function(event){
      var b = <%- JSON.stringify(allCourses) %>;
      var selectedSubject = $('#allSubjects option:selected').text();
      //repopulate #allCourses
      $('#allCourses option').each(function(){
        this.remove();
      });

      for(var i in b) {
        $('#allCourses').append($('<option>', {value:b[i], text:b[i]}));
      }

      $('#allCourses').find('option').each(function(){
        if(this.text.substr(0,5)!=selectedSubject.substr(1,5)) {
          this.remove();
          }
      });
    });

    function addCourseToTimetable(course) {
      currentVal = $("#course").val();
      val = (currentVal == '')? course.trim(): ','+course.trim();
      $('#course').val(currentVal + val);
    }
    $('#allCourses').on('change',function(event){
      addCourseToTimetable($('#allCourses').find(':selected').text());
    });
    $("#available").on('click', function (event) {
      var courses = [];
      var input = $('#course').val().split(',');
      for (x in input) {
        courses.push(input[x]);
      }
      $('.loading').append('<img class="loader" src="/img/ajax-loader.gif"></img>');
      filter = $('#availableSubjects option:selected').text().trim();
      $.post('/attempt',{
        'courses': courses,
        'subjectFilter': filter,
        'lowerBound': parseInt($("#lowerBound").val()),
        'upperBound': parseInt($("#upperBound").val())
      }).done(function(data) {
        $("#courseDisplay").text("");
        $('.loader').remove();
        data = data.sort()
        console.log(data)
        for (x in data) {
          if(data[x].substr(0,4) == filter) {
            $("#courseDisplay").append("<li>"+data[x]+"<button onclick='addCourseToTimetable(" + JSON.stringify(data[x].split(" -")[0]) + ")'>Add</button></li>");
          }
        }
      })
    })
    $('#send').on('click',function (event) {
      var courses = [];
      var input = $('#course').val().split(',');
      for (x in input) {
        courses.push(input[x]);
      }
      $('.loading').append('<img class="loader" src="/img/ajax-loader.gif"></img>');
        $.post('/process',{
          'courses': courses
        }).done(function(data) {
          $('.loader').remove();
          $('.timetable').find('td:not(.times)').html('-');
          $('.timetable').find('td:not(.times)').attr('style','');
          if(data.complete) {
            //$('#courses').append("<h2> These are the time slots for "+data.names+"</h2>");
            if(data.times == 'No Solution') {
              $("#announcement").text('No Solution');
            }
            else {
              console.log(data)
              for(i in data.times) {
                //$("#courses").append(data.names.split(' and ')[i]+' '+JSON.stringify(data.times[i])+'<br>');
                for(j in data.times[i]) {
                  var name = data.names.split(' and ')[i];
                  $('[id='+JSON.stringify(data.times[i][j])+']').html('<a target=_blank href=https://w5.ab.ust.hk/wcq/cgi-bin/1810/subject/'+name.substr(0,4)+
                  '#'+name.substr(0,4)+name.substr(5,9)+ '>'+data.names.split(' and ')[i]+'</a>');
                  $('[id='+JSON.stringify(data.times[i][j])+']').attr('style','background-color:#f1f1c1');
                }
              }
            }
            if(data.missing != "Couldn't Fit ") {
              $('#announcement').text(data.missing);
            }
            else {
              $('#announcement').text("");
            }
            $('#credits').text(data.credits);
          }
          else {
            $('#credits').text('-');
            $('#announcement').text("No Solution found for "+data.names);
          }
        });
      });
</script>
</html>
